<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercício 16</title>
    <link rel="stylesheet" href="exercicio16.css" />
  </head>
  <body>
    <header id="cabecalho">
      <img
        src="img16/logo-lobo-removebg-preview.png"
        alt="logo lobo"
        class="logo"
      />
      <p class="brand-name">Wolves</p>
      <nav>
        <img src="img16/menu-icon.png" alt="menu-icon" class="menu-icon" />
      </nav>
    </header>
    <main>
      <h1 class="title">Single Post</h1>
      <p class="description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
        inventore iusto.
      </p>
      <div id="content">
        <h2 class="title-content">
          TIPS CHOICE BEST AGENCY FOR HOUSE DECORATION
        </h2>
        <img src="img16/lobo-content.jpeg" alt="lobo" class="img-content" />
        <p class="description-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
          voluptate magni obcaecati quasi dolorum animi ad unde et
          exercitationem sequi assumenda eius, soluta, necessitatibus incidunt
          saepe impedit odio ipsa tempore. Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Neque enim porro non saepe, odit nisi
          reiciendis nostrum placeat sapiente magnam similique deserunt harum
          hic voluptatum dolorum aut explicabo commodi suscipit!
        </p>
        <div class="sponsors">
          <img src="img16/adidas-.png" alt="adidas" class="sponsor" />
          <img src="img16/pepsi.png" alt="pepsi" class="sponsor" />
        </div>
        <h2 class="btn-text">LETS CHANGE YOUR ON HOME INTERIOR DESIGN NOW</h2>
        <button class="btn">Something</button>
      </div>
    </main>
    <footer>
      <div>
        <h2>INFORMATION</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odio rerum
          maxime commodi voluptatem vitae numquam.
        </p>
      </div>
      <div>
        <h2>PLACES</h2>
        <ul>
          <li>Brunei</li>
          <li>Thailand</li>
          <li>Germany</li>
          <li>Argentina</li>
        </ul>
      </div>
      <div>
        <h2>CONTACT US</h2>
        <input type="email" placeholder="Type your E-mail" /><button
          type="submit"
        >
          Submit
        </button>
      </div>
    </footer>
  </body>
</html>
