<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio 1</title>
    <link rel="stylesheet" href="exercicio1.css">
</head>
<body>
    <div class="pictures-container">
        <picture>
            <source srcset="img1/lobo-2.webp" media="(min-width: 992px)">
            <source srcset="img1/lobo-1.webp" media="(min-width: 576px)">
            <img src="img1/lobo-3.jpg" alt="Descrição da Imagem">
        </picture>
    </div>
</body>
</html>