<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="exercicio3-4.css" />
    <title>Exercício 3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <img
          src="img3/menu-icon.png"
          alt="menu icon"
          title="menu-icon"
          class="menu-icon"
        />
        <ul class="menu-items">
          <li>Works</li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>

    <main id="content">
      <img
        src="img3/profile-img.png"
        alt="profile image"
        title="profile-img"
        class="profile-img"
      />
      <div class="text-content">
        <h2 class="name-text">Hi, I'm Bruno, a creative Data Scientist</h2>
        <p class="description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo
          fuga nam, nobis repudiandae sequi quod sed nostrum ducimus. Beatae
          repellendus impedit sequi distinctio id corporis corrupti natus
          ducimus suscipit.
        </p>
        <button class="resume-button">Download Resume</button>
      </div>
    </main>
  </body>
</html>
