<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercício 7</title>
    <link rel="stylesheet" href="exercicio7.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header"></header>
      <nav class="sidebar"></nav>
      <main class="content">
        <p>
          1° Teste: Ao retirar a tag "meta", percebe-se que o layout nos
          dispositivos móveis foram afetados e não podem mais se ajustar
          corretamente a tela
        </p>
        <br />
        <p>
          2° Teste: Alterar o valor do "initial-scale" o zoom inicial da página
          é afetado.
        </p>
        <br />
        <p>
          3° Teste: Colocar valores como "width = 500" faz com que a largura da
          viewport seja limitada a 500 pixels, causando distoções nas telas
          maiores. O "inicial-scale=2" faz com que se tenha um zoom de 200%,
          podendor cortar alguns conteúdos da página.
        </p>
      </main>
      <aside class="extra"></aside>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
