<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercício 11</title>
    <link rel="stylesheet" href="exercicio11.css" />
  </head>
  <body>
    <div id="odin">
      <div class="img-section">
        <img
          src="img11/lobo-motivador.jpeg"
          alt="lobo-motivador"
          class="lobo-motivador"
        />
      </div>
      <div class="text-section">
        <p class="lorem">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolor odio
          illum ratione in alias quia quibusdam veritatis laudantium libero
          deserunt, nulla vero exercitationem voluptatem sit. Distinctio vel
          nihil exercitationem. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. At quia totam doloribus, blanditiis tenetur placeat
          cumque nostrum quasi mollitia, unde vel! Doloremque beatae, nihil
          harum nemo enim necessitatibus magni optio?Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Quam aspernatur qui quaerat totam
          veritatis pariatur vero mollitia ducimus, id quod quisquam aperiam
          saepe ex tempora quis odit accusamus! Facere, optio. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Reiciendis quod eligendi vero
          praesentium unde perspiciatis maxime laudantium sit eum eius neque
          consequuntur alias blanditiis, iure repellat pariatur quam. Vel,
          officiis?
        </p>
      </div>
    </div>
  </body>
</html>
